h1{
    text-align: center;
    font-size: 7pc;
}
img {
    display: block;
    width: 50%;
}
ul{
    text-align: center;
    list-style: none;
    padding-left: 0;
    width: 50%;
    margin: auto;
}
ul li{
    border: 3px outset;
    display: inline-block;
}

#pic1 {

}

#pic2 {
    margin: auto
}

#pic3 {
    margin-left: 50%;
}
a {
    text-align: center;
}